<h2>Por Region</h2>
<hr />

<div>
  <div class="row">
    <div class="col text-center">
      <!-- SearchBox-->
      <button
        (click)="searchByRegion(region)"
        [ngClass]="{ 'btn-outline-primary': selectRegion === region }"
        class="btn mx-2"
        *ngFor="let region of regions"
      >
        {{ region }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <!---->
    <hr />
    <ul>
      <countries-table
        messageError="No hay region para Mostrar"
        [countries]="country"
      ></countries-table>
    </ul>
  </div>
</div>
